@import "__mix";
/* EXTENDS */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
%ani {
    @include transform( scale(1) translate3d(0,0,0) );
    @include transform-style( preserve-3d );
    @include perspective( 1000 );
    @include backface-visibility( hidden );
}
%vue {
    /* %vue */
    min-height: $minHeight;
    width: 100%;
}
%push {
    @include transition( all 0.125s);
    opacity: 0.8;
    &:hover {
        opacity: 1;
    }
    &:active {
        @include transform( translate(0, 1px) scale(0.9) );
    }
}
%noresize {
    height: initial;
    max-height: none;
    max-width: none;
    width: initial;
}
%normal {
    @include archer;
    font-weight: 400;
}
%medium {
    @include archer;
    font-weight: 600;
}
%bolder {
    @include archer;
    font-weight: 800;
}

%cacher {
    background-position: top left;
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1px;
}

.bkgr {
    @extend %vue;

    background-repeat: repeat-x;
    color: $shad;
    left: 0;
    position: absolute;
    top: 0;
}
.scrl {
    @extend %vue;

    height: $maxHeight;
    overflow: hidden;
    overflow-x: scroll;
}
.backscrl {
    @extend .bkgr;
    @extend .scrl;
}
.imgcache {
    @extend %cacher;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
