@import "__mix";
/* BUTTONS */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

body button {
    @include redgrad();

    border-width: 1px;
    color: white;
    font-size: $SM;
    margin: $qem;
    padding: 3px 5px;

    &.hover, &:hover {
        opacity: 1;
    }
    &.exit {
        opacity: 0.8;
    }
    &.red {
        margin: 0;
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
