@import "__mix";
/* LAYOUT and DIVs */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#View {
    &.veil * {
        visibility: hidden;
    }
    overflow: hidden;
    position: relative;
}

#Port {
    @extend %vue;

    border: 0;
    height: $maxHeight;
    overflow: hidden;
    position: relative;

    &.summer {
        background-color: #7EC9EB;
    }
    &.autumn {
        background-color: #6FB9DB;
    }
    &.winter {
        background-color: #AEE5FF;
    }
    &.spring {
        background-color: #32A9E0;
    }
}
#Static {
    bottom: 10%;
    left: 50%;
    position: absolute;
    width: 50%;
    z-index: 10;
}
#Sun {
    background-image: url(../images/misc/sun.png);
    top: 2%;
    height: 130px;
    left: 75%;
    position: absolute;
    width: 130px;
    z-index: 4;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
