@import "__mix";
/* TEXT and SPANs */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
body.TXT___ #Body {
    article p {
        margin: $hem 0;
    }
    .shrink {
        font-size: 80%;
        line-height: 140%;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
