@import "__mix";
/* LAYOUT and DIVs */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.bkgr .cache {
    background-position: top left;
    height: 10px;
    left: 0;
    position: absolute;
    top: 0;
    width: 10px;
}
.sky {
    opacity: 0.5;
}

#Bkgr-1 {
    background-image: url($layers + '/sky/1.png');
}
#Bkgr-2 {
    background-image: url($layers + '/sky/2.png');
}
#Bkgr-3 {
    background-image: url($layers + '/sky/3.png');
}
#Bkgr-4 {
    background-image: url($layers + '/sky/4.png');
}
#Bkgr-5 {
    display: none;    // Use #Features instead
}

#Bkgr-6 {
    .summer &, .spring & .cache { background-image: url($layers + '/summer/1.png'); }
    .autumn &, .summer & .cache { background-image: url($layers + '/autumn/1.png'); }
    .winter &, .autumn & .cache { background-image: url($layers + '/winter/1.png'); }
    .spring &, .winter & .cache { background-image: url($layers + '/spring/1.png'); }
}
#Bkgr-7 {
    .summer &, .spring & .cache { background-image: url($layers + '/summer/2.png'); }
    .autumn &, .summer & .cache { background-image: url($layers + '/autumn/2.png'); }
    .winter &, .autumn & .cache { background-image: url($layers + '/winter/2.png'); }
    .spring &, .winter & .cache { background-image: url($layers + '/spring/2.png'); }
}
#Bkgr-8 {
    .summer &, .spring & .cache { background-image: url($layers + '/summer/3.png'); }
    .autumn &, .summer & .cache { background-image: url($layers + '/autumn/3.png'); }
    .winter &, .autumn & .cache { background-image: url($layers + '/winter/3.png'); }
    .spring &, .winter & .cache { background-image: url($layers + '/spring/3.png'); }
}
#Bkgr-9 {
    .summer &, .spring & .cache { background-image: url($layers + '/summer/4.png'); }
    .autumn &, .summer & .cache { background-image: url($layers + '/autumn/4.png'); }
    .winter &, .autumn & .cache { background-image: url($layers + '/winter/4.png'); }
    .spring &, .winter & .cache { background-image: url($layers + '/spring/4.png'); }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
//$layers: ../layers
//$layers: '/Volumes/Transfer_MSP/%20Erik%20Foote/ARTWORK/layers';
