@import "__mix";
/* DEV and DEBUG / REFS and RESULTS */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
html .dev * {
    opacity: 1;
    box-sizing: border-box;
}
.dev,
.dev div {
    border: 1px dotted red;
}
.pin {
    display: inline-block;
    height: 0;
    position: absolute;
    width: 0;

    div {
        border: 1px solid red;
        bottom: 0;
        position: absolute;
        right: 0;
    }
}
.feature {
    @extend .dev;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
// IDS
#Dash {
    background-color: rgba(111,3,3,0.3);
    border: 0;
    bottom: $rem;
    left: 0;
    padding: 0;
    position: fixed;
    right: 0;
    z-index: 999;

    .drtReadout {
        background-color: $shad;
        box-shadow: 3px 3px 3px $shad;
        color: white;
        display: inline-block;
        font-size: $SM;
        margin: 1px;
        padding: $qem;
        text-align: center;
        z-index: 2;

        &, div {
            border: 0;
            border-radius: $qem;
            float: right;
            margin-left: $qem;
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
