<!DOCTYPE html>
<html lang="en" class="debug">
<head>
    <title>foo</title>
    <link href="styles/platter.css" media="screen, projection, print" rel="stylesheet" type="text/css">
    <style>
        #Platter {
            bottom: auto;
            max-height: none !important;
        }
        table td {
            border: 1px dotted white;
        }
    </style>
</head>
<body id="Platter">
    <div id="_welcome" class="plate">
        <!-- welcome -->
        <table class="tall">
            <tr class="vtop">
                <td><h1>Your vehicle <br>maintenance journey </h1>
                    <p> Whether you’re driving to work or off into the sunset,
                        you rely on your vehicle to get you there.
                        But how much might it cost to reinvigorate
                        your radiator or give your ignition a new start?
                        Your road to enlightenment begins here. </p>
                </td>
            </tr>
            <tr>
                <td><img src="images/plates/partysigns.png" alt="signs" width="670" height="350" class="bigLeft" ></td>
            </tr>
        </table>
        <button tabindex="1" class="primary btn_choice box-se">Get started</button>
    </div>
    <div id="_choice" class="plate">
        <!-- choice -->
        <table>
            <tr>
                <td colspan="3"><h3>Are you a west coast commuter, <br>
                        or a soccer mom from Buffalo? </h3></td>
                <td rowspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3"><h4>Select your region</h4></td>
            </tr>
            <tr class="center vtop">
                <td>
                    <h4>West</h4>
                    <img src="images/choices/west.png"     tabindex="1" data-region="west"    alt="" width="110" height="130" class="region option"></td>
                <td>
                    <h4>Central</h4>
                    <img src="images/choices/central.png"  tabindex="2" data-region="central" alt="" width="110" height="130" class="region option"></td>
                <td>
                    <h4>East</h4>
                    <img src="images/choices/east.png"     tabindex="3" data-region="east"    alt="" width="110" height="130" class="region option"></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="4"><h3>Whatever you drive and wherever you drive it,
                        you can find the approximate cost to replace many of your
                        vehicle’s parts.</h3></td>
            </tr>
            <tr>
                <td colspan="4"><h4> Select your vehicle </h4></td>
            </tr>
            <tr class="center shrink">
                <td>
                    <h4>Compact</h4>
                    <img src="images/choices/compact.png" tabindex="4" data-model="compact" alt="" class="model option"></td>
                <td>
                    <h4>Mid-size</h4>
                    <img src="images/choices/midsize.png" tabindex="5" data-model="midsize" alt="" class="model option"></td>
                <td>
                    <h4>Minivan</h4>
                    <img src="images/choices/minivan.png" tabindex="6" data-model="minivan" alt="" class="model option"></td>
                <td>
                    <h4>SUV</h4>
                    <img src="images/choices/utility.png" tabindex="7" data-model="utility" alt="" class="model option"></td>
            </tr>
        </table>
        <button tabindex="11" class="primary btn_help box-se">Next</button>
    </div>
    <div id="_help" class="plate">
        <!-- help -->
        <table class="tall">
            <tr>
                <td class="center">
                    <img src="images/plates/bighelp.png" width="130" height="120" alt="helpsign">
                </td>
                <td><h2>Use the following controls to guide you through
                        your vehicle maintenance journey. </h2></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="center">
                    <img src="images/plates/mouse.png" alt="mouse" width="60" height="80">
                </td>
                <td><p>Use the scroll bar at the bottom of the page,
                        or the scroll button on your mouse to manuever.</p></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="center">
                    <img src="images/plates/navis.png" alt="left right arrows" width="100" height="50">
                </td>
                <td><p>Click the right or left arrows to move forward
                        and back through the journey.</p></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="center">
                    <img src="images/plates/dots.png" alt="waypoints" width="141" height="53">
                </td>
                <td><p>Once your journey is complete, waypoint dots will appear.
                        Use these to speed through from point to point.</p></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
        <button tabindex="12" class="primary btn_choice box-sw">Back</button>
        <button tabindex="13" class="btn_hide box-se">Okay</button>
    </div>
    <div id="_finish" class="plate">
        <!-- finish -->
        <table>
            <tr>
                <td><h2>As you can see, there are many financial roadblocks
                        you could encounter on your vehicle maintenance journey.</h2></td>
            </tr>
            <tr>
                <td>
                    <div class="boxed">
                        <p>
                            <strong>Here’s a break down.</strong> On average,
                            it’ll cost you approximately <strong>$<%= total %></strong>
                            for parts and labor to replace
                            these typical maintenance and repairs for
                            your <%= model %> in the <%= region %></p>
                        <table>
                            <tr>
                                <td>
                                    <p>Alternator: <strong>$<%= Alternator %></strong></p></td>
                                <td>
                                    <p>Brakes: <strong>$<%= BrakePads %></strong></p></td>
                                <td>
                                    <p>Fuel Pump: <strong>$<%= FuelPump %></strong></p></td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Ignition Switch: <strong>$<%= IgnitionSwitch %></strong></p></td>
                                <td>
                                    <p>Power Steering Pump: <strong>$<%= PowerSteering %></strong></p></td>
                                <td>
                                    <p>Radiator: <strong>$<%= Radiator %></strong></p></td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Spark Plugs: <strong>$<%= SparkPlugs %></strong></p></td>
                                <td>
                                    <p>Starter Motor: <strong>$<%= StarterMotor %></strong></p></td>
                                <td>
                                    <p>Window Regulator Motor: <strong>$<%= WindowMotor %></strong></p></td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 25%;"><h4> With a little planning,
                        attention, and due diligence,
                        you can head these challenges
                        off at the pass and keep cruising. </h4>
                </td>
            </tr>
        </table>
        <button tabindex="1" class="btn_sources box-sw">View sources</button>
        <div class="box-se">
            <button tabindex="1" class="primary btn_hide">Close</button>
            <button tabindex="1" class="btn_welcome">Restart</button>
        </div>
    </div>
    <div id="_sources" class="plate">
        <!-- sources -->
        <table>
            <tr>
                <td><h3>The best-selling vehicles by segment are*</h3>
                    <p><strong>Small Cars</strong>:<br>
                         1. Toyota Corolla/Matrix
                         2. Honda Civic
                         3. Ford Focus </p>
                    <p><strong>Minivans</strong>:<br>
                         1. Toyota Sienna
                         2.  Chrysler Town &amp; Country
                         3. Dodge Grand Caravan </p>
                    <p><strong>Midsize Cars</strong>:<br>
                         1. Toyota Camry
                         2. Honda Accord
                         3. Nissan Altima </p>
                    <p><strong>SUVs/Crossovers</strong>:<br>
                         1. Ford Escape
                         2. Toyota RAV4
                         3. Dodge Journey </p>
                    <h6>(through March 2013)</h6>
                    <p>&nbsp;</p>
                    <h3>Regional labor costs:</h3>
                    <p><strong>NY Zip: 10021</strong><br>
                        In Dealership Labor: $103/hr; In-Shop Labor: $83/hr</p>
                    <p><strong>L.A. Zip: 90021</strong><br>
                        In Dealership Labor: $101/hr; In-Shop Labor: $82/hr</p>
                    <p><strong>Chicago: 60621</strong><br>
                        In Dealership Labor: $111/hr; In-Shop Labor: $86/hr</p>
                    <h6> *Sales data provided from <a href="http://goodcarbadcar.net">goodcarbadcar.net</a></h6>
                    <h6> For more specific vehicle repair and maintenance information,
                        visit <a href="http://automd.com">AutoMD.com</a>. </h6>
                </td>
            </tr>
        </table>
        <button tabindex="1" class="primary btn_hide box-se">Close</button>
    </div>
    <div id="_upgrade" class="plate">
        <!-- upgrade -->
        <img id="Ih8ie" src="images/plates/broke.png" width="1194" height="668">
        <h6 style="color: transparent;">If you’ve been redirected to this page,
            you may be running an outdated browser that’s incompatible with this offering.
            We designed this infographic to work with browsers that support modern technologies;
            therefore, please upgrade your browser to fully enjoy this experience. </h6>
    </div>
    <div id="_legalbs" class="plate">
        <p>
            Figures represent the average repair costs for the base models of the three best-selling 2011-2012 vehicles in the U.S.
            by volume, as reflected by estimated parts and labor costs at repair shops and dealerships in the three largest U.S. cities by population –
            Philadelphia, Pennsylvania, Los Angeles, California, and Chicago, Illinois. Data supplied by AutoMD.com, [Month] 2012.
            If you would like more information on these figures, please go to Auto MD.com.
        </p>
        <p>
            □ Yes I have read and understand the disclaimer.
        </p>
    </div>
</body>
</html>
