/* define */
@import "animation";
@import "compass/css3";
@import "compass/css3/transition";
@import "compass/css3/user-interface";
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
// misc

$rem: 1rem; $hem: 0.5rem; $qem: 0.25rem;
$layers: '../images/layers';
$resp: 800px;
$debug: 1;
$remx: 12px;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
// PALETTES
$wf_red:        #bb0826;    $wf_yellow:     #fcc60a;   $wf_gray:      #8f8f8f;
// Active Warm red and dark red are to create red gradients, not for text.
$a_ebony:       #7a6855;    $a_d_ebony:     #574537;   $a_black:      #000000;
$a_l_coolgray:  #d9d9d6;    $a_d_coolgray:  #44464a;   $a_m_coolgray: #bfc0be;
$a_green:       #46a033;    $a_d_green:     #007337;
$a_magenta:     #ae2573;    $a_d_magenta:   #821861;
$a_orange:      #ed8800;    $a_d_orange:    #ce4c00;
$a_plum:        #702f8a;    $a_d_plum:      #4d3b65;
$a_warmred:     #ec1c29;    $a_d_red:       #ae1e23;
$a_teal:        #0095c8;    $a_d_teal:      #00698c;
// Earth
$e_d_warmgray:  #675b53;    $e_m_warmgray:  #8c8279;
$e_amber:       #a9431e;    $e_d_amber:     #803b2b;
$e_aqua:        #0085ad;    $e_d_aqua:      #00617f;
$e_blue:        #5e8ab4;    $e_d_blue:      #326295;
$e_brown:       #b06224;    $e_d_brown:     #734626;
$e_eggplant:    #893b67;    $e_d_eggplant:  #6c2b46;
$e_purple:      #6f5091;    $e_d_purple:  $a_d_plum;
$e_spruce:      #507f70;    $e_d_spruce:    #285c4d;
// Neutral
$n_l_gray:      #e0e3e2;    $n_d_gray:$a_d_coolgray;
$n_air:         #f2e2bd;
$n_aquablue:    #c2deea;
$n_breeze:      #dadbbf;
$n_khaki:       #bfcec2;
$n_stone:       #d7d3c7;
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
// TRANSLATE
$link: #336699;
$link: #3366cc;

$button1: #ce4c00;  $button2: #cc3311;

$red:   $wf_red;
$brown: $e_d_brown;
$gray:  $a_d_coolgray;
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
//shade
$shad1: rgba(   1,   1,   1, 0.1 );
$shad2: rgba(  23,  23,  23, 0.23);
$shad3: rgba(  77,  77,  77, 0.7 );
$frost: rgba( 222, 222, 222, 0.2 );

$lite: rgb( 250, 250, 250 );   // lite-lite
$gryL: rgb( 230, 230, 230 );   // lite-gray
$gryM: rgb( 155, 155, 155 );   // dark-midd
$gryD: rgb( 111, 111, 111 );   // dark-gray
$dark: rgb(  55,  55,  55 );   // dark-dark

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
$hilite: rgba(255, 255, 99, 0.7);

$leftnav: 18rem;
$leading: 1.4;
$rem: 1rem; $hem: 0.5rem; $qem: 0.25rem;
$large: 18px;

$bar1: #D4002F; $bar2: #83001C;

$blue: #336699;
$blue1: #0071BE; $blue2: #0026BE;

$gray1: #999; $gray2: #666; $gray3: #333;

$green: #18C211;
$green1: #54A837; $green2: #007D28;

$red1: #c21737; $red2: #8c081d;

$brown: #973f1e;
$brick: #bb0826;
$paper: #f9f6f1;

$clear: rgba(255,255,255,0);
$pale: rgba(255,255,255,0.7);
$target: rgba(255, 111, 111, 0.5); // #ff5555; reddish

$shad:  rgba( 0,  0,  0, 0.3);
$shad1: rgba(11, 11, 33, 0.2);
$shad2: rgba(33, 33, 33, 0.3);

$resp: 800px;
$debug: 1;

// fonts
$SM: 0.7rem;
$MD: 1.0rem;
$LG: 1.2rem;

$minHeight: 400px;
$maxHeight: 675px;
$fullWidth: 100000px;
$travelTime: 1.8s;
$stops: 10;

$default-transition-delay   : false;
$default-transition-duration: 0.5s;
$default-transition-property: all;
$default-transition-function: ease-in;
$default-transform: translate3d(0,0,0);

$layers: '../images/layers';
//* >^º!º^< */
