/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* EXTEND */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

$leftnav: 18rem;
$leading: 1.4;
$large: 18px;

$bar1: #D4002F; $bar2: #83001C;

$blue: #336699;
$blue1: #0071BE; $blue2: #0026BE;

$gray1: #999; $gray2: #666; $gray3: #333;

$green: #18C211;
$green1: #54A837; $green2: #007D28;

$red1: #c21737; $red2: #8c081d;

$brown: #973f1e;
$brick: #bb0826;
$paper: #f9f6f1;

$clear: rgba(255,255,255,0);
$pale: rgba(255,255,255,0.7);
$target: rgba(255, 111, 111, 0.5); // #ff5555; reddish

$shad:  rgba( 0,  0,  0, 0.3);
$shad1: rgba(11, 11, 33, 0.2);
$shad2: rgba(33, 33, 33, 0.3);

// fonts
$SM: 0.7rem;
$MD: 1.0rem;
$LG: 1.2rem;

$minHeight: 400px;
$maxHeight: 675px;
$fullWidth: 100000px;
$travelTime: 1.8s;
$stops: 10;

$default-transition-delay   : false;
$default-transition-duration: 0.5s;
$default-transition-property: all;
$default-transition-function: ease-in;
$default-transform: translate3d(0,0,0);


%bulge {
    @include transform( translate(0px, 1px) scale(1.1)  );
}
%fxreset {
    @include backface-visibility( hidden );
    @include perspective( 1000px );
    @include transform( scale(1) translate3d(0,0,0) rotate(0deg) );
    @include transform-style( preserve-3d );
}
%push {
    @include transition( all 0.125s);
    opacity: 0.8;
    &:hover {
        opacity: 1;
    }
    &:active {
        @include transform( translate(0, 1px) scale(0.9) );
    }
}
%noresize {
    height: initial;
    max-height: none;
    max-width: none;
    width: initial;
}
%normal {
    @include font-archer;
    font-weight: 600;
}
%medium {
    @include font-archer;
    font-weight: 700;
}
%bolder {
    @include font-archer;
    font-weight: 800;
}

%scrl {
    height: $maxHeight;
    min-height: $minHeight;
    overflow: hidden;
    overflow-x: scroll;
    width: 100%;
}

%reg {
    border-width: 1px;
    color: white;
    @include font-plain;
    font-size: $MD;
    font-weight: normal;
    margin: $qem;
    opacity: 1;
    padding: 3px 7px;
    z-index: 99999;
}
%bkgr {
    background-repeat: repeat-x;
    color: $shad;
    left: 0;
    min-height: $minHeight;
    position: absolute;
    top: 0;
    width: 100%;
}
%imgcache {
    background-position: top left;
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1px;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
