/* BASELINE */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
html, body {
    height: 100%;
    position: relative;
}
html {
    background-color: white;
    font-size: 15px;
    @include font-plain;
    line-height: $leading;
}
body {
    background-color: #6b6b6b;
    overflow: hidden;

    a {
        &.hover, &:hover {
            text-decoration: none;
        }
        color: $blue;
        text-decoration: underline;
    }
    button {
        &.hover, &:hover {
            cursor: pointer;
            border-style: outset;
        }
        &:active {
            cursor: move;
            border-style: inset;
        }
    }
    hr {
        border: 0px solid white;
        border-top-width: 2px;
        clear: both;
    }
    strong {
        font-weight: bold;
    }
    table {
        border-collapse: collapse;
        clear: both;
    }
    h1, h2, h3, h4, h5, h6 {
        clear: both;
        a {
            color: $brown;
        }
    }
    h1 {
        font-weight: 900;
        font-size: 180%;
    }
    h2 {
        font-weight: 600;
        font-size: 160%;
    }
    h3 {
        font-weight: 500;
        font-size: 140%;
    }
    h4 {
        font-weight: 400;
        font-size: 120%;
    }
    h5 {
        font-weight: 300;
        font-size: 100%;
    }
    h6 {
        font-weight: 200;
        font-size: 80%;
    }
    img {
        background-repeat: no-repeat;
        max-width: 100%;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
// GENERIC HELPER
$fontServ1: '../../../lib/fonts/';
$fontServ2: 'http://10.89.101.100/lib/fonts/';
$fontServ3: 'http://www.wellsfargomedia.com/lib/fonts/';

@function woffSrc( $nom: 'Foo', $src: './' ){
    @return local($nom), url( $src + $nom + '.woff') format('woff');
}

.veil * {
    visibility: hidden;
}
