/* FEATURES */
@import "animation";
@import "compass/css3/transition";
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
$signTime: 0.8s;

#Signs {
    @extend .backscrl;

    #Obj-0 {
        display: none;
    }
}
.sign {
    @extend %ani;
    @include transition(background $signTime ease-in $signTime);
    @include animation(none);

    background-position: 0 500px;
    background-repeat: no-repeat;
    background-size: 100% 0%;
    bottom: gM(10);
    height: 400px;
    overflow: visible;
    position: absolute;
    width: 300px;
    z-index: 8;

    &.up, :hover .moving &.up {
        @include animation(spinny 1.5s 1 0s);
        background-position-y: 0px;
        background-size: 100% 100%;
    }
    .moving &, .stopped:hover & {
        @include animation(none);
    }
}

@include keyframes(spinny) {
    0%   { @include transform( rotateY(   0deg ) ); }
    5%   { @include transform( rotateY(  20deg ) ); }
    20%  { @include transform( rotateY(  25deg ) ); }
    40%  { @include transform( rotateY( -10deg ) ); }
    60%  { @include transform( rotateY(  15deg ) ); }
    80%  { @include transform( rotateY( -10deg ) ); }
    100% { @include transform( rotateY(   0deg ) ); }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
