/* VIEW / Banner */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
$bannerTime: 0.2s;

%alertrans {
    @include transition(all $bannerTime ease-in-out $bannerTime);
}

#Banner {
    > * {
        @extend %alertrans;
        opacity: 0;
    }
    .band {
        @extend %alertrans;

        border: 1px dotted white;
        height: 126px;
        left: -1px;
        opacity: 0;
        position: absolute;
        right: -1px;
        top: 57px;
        z-index: 104;
    }
    .heading {
        @extend %alertrans;

        background: {
            position: right top;
            repeat: no-repeat;
        }
        height: 150px;
        left: -500px;
        min-width: 475px;
        max-width: 525px;
        position: absolute;
        top: -7px;
        width: 36%;

        h2 {
            color: black;
            font-size: 200%;
            line-height: 1.2;
            padding: 1em 1.2em 1em 10%;
            text-align: left;
            text-shadow: -1px 2px 0px rgba(0,0,0,0.1)
            ,            0px -1px 3px rgba(255,255,255,0.3);

            &.oneline {
                font-size: 280%;
            }
            &.stop {
                color: white;
            }
            &.notice {
                color: $red2;
            }
        }
    }
    .dangler {
        @extend %alertrans;
        @include animation(yoink 2s 1 $bannerTime);
        @include transform-origin(50% 0 0);

        background: {
            image: url(../images/tags/price.png);
            position: center 1px;
            repeat: no-repeat;
        }
        height: 140px;
        left: -333px;
        position: absolute;
        top: 111px;
        width: 99px;
        z-index: -1;
    }
    .content {
        @extend %alertrans;

        background-color: $pale;
        display: table;
        height: 124px;
        min-width: 66em;
        overflow: hidden;
        position: absolute;
        right: -100%;
        width: 100%;

        p {
            display: table-cell;
            font-size: 140%;
            line-height: 1.2;
            padding: 0 50px 0 525px;
            text-align: left;
            text-shadow: 0px -1px 3px white;
            vertical-align: middle;
        }
    }
}
:not(.near) #Banner.show {
    > * {
        opacity: 1;
    }
    .content {
        right: 0%;
    }
    .dangler {
        @include animation(swings 3s 1 $bannerTime);
        left: 333px;
    }
    .dangler:active {
        @include animation(none);
    }
    .heading {
        left: -1px;
    }
}
@include keyframes(swings) {
    0%   { @include transform( rotate(  0deg) ); }
    5%   { @include transform( rotate( 20deg) ); }
    10%  { @include transform( rotate( 30deg) ); }
    20%  { @include transform( rotate(-30deg) ); }
    30%  { @include transform( rotate( 26deg) ); }
    40%  { @include transform( rotate(-21deg) ); }
    50%  { @include transform( rotate( 14deg) ); }
    60%  { @include transform( rotate( -9deg) ); }
    70%  { @include transform( rotate(  6deg) ); }
    80%  { @include transform( rotate( -3deg) ); }
    90%  { @include transform( rotate(  2deg) ); }
    100% { @include transform( rotate(  0deg) ); }
}
@include keyframes(yoink) {
    0%   { @include transform( rotate(0deg)     ); }
    10%  { @include transform( rotate(-50deg)   ); }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
