/* ADHOC / All */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
$leftnav: 18rem;
$leading: 1.4;
$large: 18px;

$minHeight: 400px;
$maxHeight: 675px;
$fullWidth: 100000px;
$travelTime: 1.8s;
$stops: 10;

// misc
$rem: 1rem; $hem: 0.5rem; $qem: 0.25rem;
$layers: '../images/layers';
$resp: 800px;
$debug: 1;
$remx: 12px;
$hilite: rgba(255, 255, 99, 0.7);

$bar1:   #D4002F; $bar2:   #83001C;
$blue1:  #0071BE; $blue2:  #0026BE;
$gray1:  #999999; $gray2:  #666666;  $gray3: #333333;
$green1: #54A837; $green2: #007D28;
$red1:   #c21737; $red2:   #8c081d;

$clear: rgba(255,255,255,0);
$pale: rgba(255,255,255,0.7);
$target: rgba(255, 111, 111, 0.5);

$shad: rgba(0,0,0,0.3); $shad1: rgba(11,11,33,0.2); $shad2: rgba(33,33,33,0.3);

// fonts
$SM: 0.7rem; $MD: 1.0rem; $LG: 1.2rem;

// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //

@import "_base";
@import "_ani";
@import "_btn";
@import "_misc";
@import "_xtn";
@import "_dev";

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
