/* STAGE */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#Stage {
    min-height: 640px;
    overflow: hidden;

    &, & > * {
        min-width: 1000px;
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
@import "_bar";
@import "_foot";
@import "_points";
@import "_scroll";
// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* >^º!º^< */
